/* * {
    margin: 0;
    padding: 0;
    background-color: #696969;
}*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.home{
    max-width: 1460px;
    background-color: white;
    padding: 0;
}

ul {
    list-style: none;
}

/*ACIMA DO MENU*/
.superior-topo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.superior-topo .text-input {
    width: 420px;
}

.superior-topo a {
    text-decoration: none;
    color: #016f33;
    font-style: italic;
    text-align: justify;
}

.logo {
    margin: 0 20px 10px 0;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.buscar {
    width: 40%;
}

.text-input {
    width: 300px;
}

#botao-busca {
    background: #016f33;

}

#imagem-busca {
    width: 24px;
    height: 24px;
}

.login {
    display: flex;
    align-items: center;
}
.pedidos {
    display: flex;
    align-items: center;
}

.img-red img {
    width: 30px;
    height: 30px;
    margin: 15px;
}

.left-cart {
    width: 40px;
    height: 53px;
    background-image: url('../images/left.png');
}

.center-cart {
    background-color: #016f33;
    height: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-cart {
    width: 15px;
    height: 43px;
    background-image: url('../images/right.png');
}

.cart {
    display: flex;
}

.quantity {
    color: #FFFFFF;
    font-style: italic;
}

.value {
    color: #f1a658;
    font-style: italic;
}

/*MENU CATEGORIA*/
.categoria-header {
    background: #016f33;
    display: flex;
    justify-content: space-around;
}


.categoria-header-links a {
    color: white!important;
    margin: 0 20px;
}
/*CARROSSEL*/

.carrossel {
    margin: 15px 0;
}

/*LINKS ABAIXO DO CARROSSEL*/

.links-baixo-carrosel {
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-baixo-carrosel a {
    color: black;
    text-decoration: none;
}

.links-baixo-carrosel a strong {
    color: #016f33;
    text-decoration: none;
}

/*PRODUTOS*/

.titulos-produtos {
    margin: 40px 10px;
    color: #016f33;
    display: flex;
    justify-content: start;
    font-style: italic;
}

.card-imagem-produto {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 230px;
}

.carrossel-produtos {
    margin: 0 0 50px 0;
}

/*FOOTER*/
.footer-separacao {
    background: #016f33;
    height: 40px;
    margin: 20px 0;
}

.links-footer {
    margin: 40px 40px 60px 40px;
    text-align: left;
}
.links-footer-pos {
    display: flex;
    justify-content: center;

}

.links-footer h5 {
    color: #016f33;
}

.links-footer a {
    color: black;
    text-decoration: none;
}

.links-footer a:hover {
    color: #016f33;
}

.contatos {
    background-color: #e6e6e6;
    border: black;
    padding: 25px 15px;
    margin: 0 200px;
}

.item-contato {
    padding: 20px 60px 20px 60px;
    line-height: 1;
}

.item-contato strong {
    color: #016f33;
}

#anvisa-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.pagamentos-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pagamentos-footer img {
    margin: 15px 25px 15px 0;
}

.info-footer {
    margin: 20px 0;

}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-footer {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 0 auto;
}


.copyr {
    height: 40px;
    margin: 20px 0 0 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f1f1f1;
}

.copyr strong {
    color: #016f33;
}















/* -------------------------------------------------estilo tela de pagamento--------------------------------------------- */
.cont-pagamento {

    background-color: white;
    height: 100px;
}

.logo-pagamento {
    height: 147px;
    background-color: rgb(226,223,223);
}
.logo-rd{

    margin-top: 20px;
    height: 100px;
    width: 100px;
    background-image: url(../images/logo\ raia\ redimensionado.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}


.central-atendimento{
    color: #016f33;
    margin-top: 60px;
}
.central-atendimento::before{
    content: " ";
    margin-left:-50px;
    margin-top: -15px;
    height: 50px;
    width: 50px;
    background-image: url(../images/fone-verde.png);
    position: absolute;

}

.central-atendimento:hover{
    text-decoration: none;
    color: #023a1b;
    background: none;
}

.footer-pagamento {
    top: 10vh;
    bottom: 4vh;
    margin-top: 60px;
    background-color: rgb(226,223,223);
    color: #016f33;
}
.estilo-fot {
    color: #016f33;
}
.estilo-fot:hover{
    font-style: none;
    text-decoration: none;
    color: #023a1b;
}

.menu-pag{
    margin-top: 60px;
    margin-bottom: 60px;
}

 .itens-menu{
    font-style:none ;
    font-size: 20px;
    color: black;
 }

 .itens-menu:hover{
     color: rgba(1, 1,1,0.5);
     text-decoration: none;
 }
.identific::before{
    content: " ";
    height: 50px;
    width: 50px;
    margin-left: -60px;
    margin-top: -10px;
    background-size: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/login\(1\).png);
}
.identific{
    color:rgba(1, 1,1,0.5);
}
.entreg::before{
    content: " ";
    height: 50px;
    width: 50px;
    margin-left: -60px;
    margin-top: -10px;
    background-size: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/truck.png);
}
.entreg{
    color:rgba(1, 1,1,0.5);
}
.pag::before{
    content: " ";
    height: 50px;
    width: 50px;
    margin-left: -60px;
    margin-top: -10px;
    background-size: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/credit-card.png);
}

 .cont{
     margin-top: 40px;
     width: 600px;
     border-width: 1px;
     border-style: solid;
     border-color:rgb(226,223,223);
     background-color: transparent;
 }
 .credito{
    margin-right: 6vw;
 }
 
 .resume-ped{
    height: 600px;
 }

.opcao{
    margin-left: 10px;
    margin-bottom: 10px;
}

.bandeira{
    margin-top:20px;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.itau{
    background-image: url(../images/341.png);
}
.brad{
    background-image: url(../images/237.png);
}
.barra-boleto{
    background-image: url(../images/boleto.jpg);
}
.amex label{
    background-image: url(../images/AE.png);
}
.visa label{
    background-image: url(../images/VI.png);
}
.master label{
    background-image: url(../images/MC.png);
}
.elo label{
    background-image: url(../images/EL.png);
}
.hiper label{
    background-image: url(../images/HI.png);
}
.jbc label{
    background-image: url(../images/JC.png);
}
.circ label{
    background-image: url(../images/DI.png);
}
.opcao-pagamento-cred-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.opcao-pagamento-cred-ul::after{
    content: "";
    clear: both;
}
.opcao-pagamento-cred{
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    height: 40px;
    position: relative;
    width: 55px;
    margin-left: 10px;
    border-style: none;
}
.opcao-pagamento-cred label{
    background-color:white;
    background-size: 60px;
    background-repeat:no-repeat;
    background-position:center center;
    height: 40px;
    width: 55px;
    cursor: pointer;
    display: block;
    font-size: 0;
    position: absolute;
    text-indent: 100%;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
}
.opcao-pagamento-cred input:focus + label {
    border: 4px solid #21b4d0;
}



.radio-cred{
    visibility: hidden;
}


.input-radio-1{
     margin-top: 10px;
}

.label-pagamento{
     margin-top: 7px;
}
.dim{
    font-size: 12px;
    margin-top: 50px;
    
}
.rac{
    font-weight: bold;
}

.numero-center{
    font-size: 40px;
}
.traco-foot{
    height: 100px;
    width: 1px;
    background-color: darkgray;
    margin-top: 20px;
}
.termos-uso{
    color: grey;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 15px;
    
}
.pedido-text{
    margin-top: 100px;
    font-size: 30px;
    color: #016f33;
}
.label-cred{
    margin-top: 20px;
    margin-left: 30px;   
}

 .num-cred{
    margin-left: 20px;
    width: 600px;
    border-radius: 20px;
 }
.num-cred:focus{
    border-radius: 20px;
}

 .bandeiras{
     margin-left: 20px;
 }

.data-cred{
    margin-left: 20px;
    width: 200px;
    border-radius: 20px;
}
.input-radio-4{
    margin-top: 5px;
    margin-left: 40px;
}
.label-salva{

    font-size: 15px;
    margin-left: 10px;
}
.cont-pagamento{
    color: #016f33;
}
.pedido-cupom{
    margin-top: 40px;
    font-size: 20px;
    color: darkgrey;
}
.num-cp{
    width: 450px;
    border-radius: 20px;
}

.ul-item{
    margin-top: 30px;
    font-size: 20px;
}

.li-pag{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
}

.li-item-pag{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: double;
}

.btnf{
    background-color: #016f33;
    border-color: #016f33;
    border-radius: 10px,0,10px,0;
    margin-top: 30px;
    margin-left: 40px;
    width: 450px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.btnf:hover{
    background-color: #023a1b;
    border-color: #023a1b;

}
.nome-produto{
    resize: none;
    width: 120px;
    height: 200px;
    margin-left: -20px;
    border-style: none;
}
.qtd-produto{
    resize: none;
    width: 30px;
    margin-left: -30px;
    height: 160px;
    border-style: none;
}
.valor-produto{
    resize: none;
    width: 80px;
    height: 160px;
    border-style: none;
    margin-left: -15px;
}
.valor-produto-sub{
    width: 80px;
    margin-left: 90px;
}
.txted:hover{
    resize: none;
    border-style: none;
}
.valor-produto-sub{
    resize: none;
    width: 85px;
    border-style: none;
    height: 40px;
}
.valor-produto-total{
    resize: none;
    width: 85px;
    border-style: none;
    height: 40px;
}


/* --------------------------------TELA DE CESTA------------------------------------------- */
.cesta-tela{
    color: #016f33;
}
.cesta-img{
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
}
.cesta-img::after{
    content: " ";
    height: 50px;
    width: 50px;
    margin-left: -55px;
    margin-top: -14px;
    background-size: 40px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/basket\ -verde.png);
}

.descricao-cesta{
    background-color: #E2DFDF;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 800px;
}   
.valor-cesta{
}
.cont-cesta{
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(226,223,223);
    background-color: transparent;
    width: 900px;
}
.produto-card-cesta-imagem{
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(226,223,223);
    width: 150px;
    height: 200px;
    margin-left: 60px;
    background-image: url(../images/caixa-remedio.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;


}
.produto-card-cesta-descricao{
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(226,223,223);
    width: 120px;
    height: 200px;
    margin-left: 60px;
    padding: 0px;

}
.produto-card-cesta-quantida{
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(226,223,223);
    width: 60px;
    height: 200px;
    margin-left: 60px;
}
.produto-card-cesta-valor-unitario{
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(226,223,223);
    width: 100px;
    height: 200px;
    margin-left: 60px;
}
.produto-card-cesta-apagar{
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(226,223,223);
    width: 100px;
    height: 200px;
    margin-left: 60px;
}

.descricao-produto-cesta{
    list-style: none;
    padding: 0px;
}
.descricao-marca-cesta{
    font-size: 17px;
    color: black;
    font-weight: bold;
}
.descricao-fabricante-cesta{
    color: #f1a658;
    font-weight: bold;
}
.descricao-qtd-cesta{
    

}
.descricao-peso-cesta{

}

.qt-cesta{
    margin-top: 80px;
}
.card-price-cesta{
    font-size: 22px;
    text-align: center center;

}